html, body {
  height: 100%;
  margin: 0;
  background: #000;
  color: #fff;
}
#dataTable {
  position: relative;
  top: 50px;
  width: 50%;
  left: 25%;
  border: 5px solid #fff;
  border-radius: 5px;
}
#dataTable td {
  height: 30px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
}

#display {
  position: relative;
  width: 100%;
  overflow: scroll;
}
 #binarySearchTree {
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.node {
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  background: #fff;
  color: blue;
  border-radius: 50%;
  text-align: center;
}
